<!-- device-modal.component.html -->
<c-modal size="lg" [visible]="visible" (visibleChange)="handleVisibleChange($event)">

  <c-modal-header>
    <h5 cModalTitle>{{ device.deviceId ? 'Editar Dispositivo' : 'Agregar Dispositivo' }}</h5>
    <!-- <button cButtonClose></button> -->
  </c-modal-header>

  <c-modal-body>

    <form [formGroup]="deviceForm" cForm class="p-2">
      <c-row>
        <!-- Columna izquierda -->
        <c-col md="6">
          <div class="mb-3">
            <label class="form-label">Nombre del dispositivo</label>
            <input cFormControl formControlName="name" type="text" class="form-control" placeholder="Ej. Bomba 1" />
          </div>

          <div class="mb-3">
            <label class="form-label">Descripción</label>
            <textarea cFormControl formControlName="description" rows="3" class="form-control"
              placeholder="Descripción del dispositivo"></textarea>
          </div>
        </c-col>

        <!-- Columna derecha -->
        <c-col md="6">
          <div class="mb-3">
            <label class="form-label">Número de serie</label>
            <input cFormControl formControlName="adbDevice" type="text" class="form-control" placeholder="Ej. ADB-1234"
              required />
          </div>

          <div class="mb-3">
            <label class="form-label">GPIO Pin</label>
            <input cFormControl formControlName="gpioPin" type="number" class="form-control" min="0"
              placeholder="Ej. 11" />
          </div>

          <div class="mb-3">
            <label class="form-label">Tiempo de pulso (ms)</label>
            <input cFormControl formControlName="msPulse" type="number" class="form-control" min="0"
              placeholder="Ej. 200" />
          </div>
        </c-col>
      </c-row>
    </form>


    <hr>

    <!-- Aquí incluimos el componente de secuencias -->
    <!-- <app-device-sequences [sequences]="device.sequences"></app-device-sequences> -->
    <app-device-sequences [sequences]="currentSequences" (sequencesChange)="updateSequences($event)">
    </app-device-sequences>
  </c-modal-body>

  <c-modal-footer>
    <button class="btn btn-secondary" (click)="close.emit()">Cancelar</button>
    <button class="btn btn-primary" (click)="saveDevice()">Guardar</button>
  </c-modal-footer>
</c-modal>